<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- NetBridge iOS App Store / TestFlight export (Team LH2LR8BBJ2) -->
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>LH2LR8BBJ2</string>
	<key>compileBitcode</key>
	<false/>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.netbridge.netbridge</key>
		<string>NetBridge Host Profile</string>
		<key>com.netbridge.netbridge.WGExtension</key>
		<string>NetBridge WGExtension Profile</string>
	</dict>
</dict>
</plist>
